<head>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
	<div class="container">
		 <div class="row">
			 <div class='col-sm-12'>
			 			<select id='rotaryOne'></select>
						<select id='rotaryTwo'></select>
						<select id='rotaryThree'></select>
						<button id='reset-button' class='pull-right'>Clear</button>
			</div>
		 </div>
		  <div class="row">
			<div class='col-sm-6'>
				<textarea id='input' disabled></textarea>
			</div>
			<div class='col-sm-6'>
				<textarea id='output' disabled></textarea>
			</div>
		</div>
	

		<div class="row">
			<div class='col-sm-12' align="center">
				<div id ="keyboard-q" class="numberCircle">Q</div>
				<div id ="keyboard-w" class="numberCircle">W</div>
				<div id ="keyboard-e" class="numberCircle">E</div>
				<div id ="keyboard-r" class="numberCircle">R</div>
				<div id ="keyboard-t" class="numberCircle">T</div>
				<div id ="keyboard-z" class="numberCircle">Z</div>
				<div id ="keyboard-u" class="numberCircle">U</div>
				<div id ="keyboard-i" class="numberCircle">I</div>
				<div id ="keyboard-o" class="numberCircle">O</div>
			</div>
		</div>
		<div class="row">
			<div class='col-sm-12' align="center">
				<div id ="keyboard-a" class="numberCircle">A</div>
				<div id ="keyboard-s" class="numberCircle">S</div>
				<div id ="keyboard-d" class="numberCircle">D</div>
				<div id ="keyboard-f" class="numberCircle">F</div>
				<div id ="keyboard-g" class="numberCircle">G</div>
				<div id ="keyboard-h" class="numberCircle">H</div>
				<div id ="keyboard-j" class="numberCircle">J</div>
				<div id ="keyboard-k" class="numberCircle">K</div>
			</div>
		</div>
		<div class="row">
			<div class='col-sm-12' align="center">
				<div id ="keyboard-p" class="numberCircle">P</div>
				<div id ="keyboard-y" class="numberCircle">Y</div>
				<div id ="keyboard-x" class="numberCircle">X</div>
				<div id ="keyboard-c" class="numberCircle">C</div>
				<div id ="keyboard-v" class="numberCircle">V</div>
				<div id ="keyboard-b" class="numberCircle">B</div>
				<div id ="keyboard-n" class="numberCircle">N</div>
				<div id ="keyboard-m" class="numberCircle">M</div>
				<div id ="keyboard-l" class="numberCircle">L</div>
			</div>
		</div>
	

	<div class="row">
			<div class='col-sm-12' align="center">
				<div id ="plug-q" class="plug">Q
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-w" class="plug">W
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-e" class="plug">E
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-r" class="plug">R
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-t" class="plug">T
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-z" class="plug">Z
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-u" class="plug">U
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-i" class="plug">I
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-o" class="plug">O
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
			</div>
		</div>

		<div class="row">
			<div class='col-sm-12' align="center">
				<div id ="plug-a" class="plug">A
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-s" class="plug">S
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-d" class="plug">D
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-f" class="plug">F
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-g" class="plug">G
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-h" class="plug">H
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-j" class="plug">J
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-k" class="plug">K
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class='col-sm-12' align="center">
				<div id ="plug-p" class="plug">P
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-y" class="plug">Y
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-x" class="plug">X
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-c" class="plug">C
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-v" class="plug">V
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-b" class="plug">B
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-n" class="plug">N
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-m" class="plug">M
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
				<div id ="plug-l" class="plug">L
					<svg height="50" width="50">
  						<circle cx="25" cy="25" r="20" fill="black" />
					</svg> 
				</div>
			</div>
		</div>
	</div>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script data-main="src/app" src="bower_components/requirejs/require.js"></script>
