
#input , #output {
	width: 100%;
	height: 25%;
	font-family: courier;
}

#reset-button {

	font-size: 12px;
}

.numberCircle {
    border-radius: 50%;

    width: 56px;
    height: 56px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: black;
    text-align: center;

    font: 32px Arial, sans-serif;
    display: inline-block;	
    margin: 20px;
}

.lightUp{
	background: yellow;
}

.plug {
   

    width: 56px;
    height: 56px;
    padding: 8px;

    background: #fff;
    color: black;
    text-align: center;

    font: 32px Arial, sans-serif;
    display: inline-block;	
    margin: 20px;
    padding-left: 3px;
}